{% extends 'templates/app.twig' %}

{% block content %}

<a class="btn btn-lg btn-block btn-outline-primary" href="{{ path_for('singup')}}" role="button">Register as customer</a>

notes:
1 skonczyc API dla customers - done
2 skonczyc api dla specialists - done
3 skoordynowac belongs to many itd w api przy dodawaniu - to najpierw musze na modelach i normalnym interfejsie ogarnac
4 modele wszystkich porobic
4 zrobic normalny formularz do dodawania wszystkich rzeczy
5 zrobi validacje danych



nie wiem, może formularz na zasadzie bramki api zrobic zeby było do testu - ale to później
w zaleznosci jak bedzie szło, mozna do issue dac info na gps, to wtedy moge sprobowac wykorzystac google maps to okienko, bedzie trzeba do zmienic tabele issue albo po prostu dodac tabele location i tylko location ID jako osobne, bo w sumie nie ma gwarancji, że zawsze z tej samej lokacji usterke bedzie customer zglaszac

Witojcie na noszej stronie z usterkomi, dla biedaków co się im podziało i dla mędrców, co naprawio


jebudu tu powinna byc tabela z usterkami a na razie jest var dump z issue bez specjalnego ładu

ale ogólnie taka tabela powinna zostac ale bez specjalnych opcji przegladania jej

<h2 class="page-header">Latest issues</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Creation date</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Specialists ID</th>
        <th scope="col">Issue picked</th>
        <th scope="col">Issue solved</th>
    </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
    <tr>
        <th>{{ issue.id }}</th>
        <td>{{ issue.title }}</td>
        <td>{{ issue.category }}</td>
        <td>{{ issue.description }}</td>
        <td>{{ issue.created_at|date('Y-m-d') }}</td>
        <td>{{ issue.customer_id }}</td>
        <td>{{ issue.specialist_id }}</td>
        <td>{{ issue.is_picked }}</td>
        <td>{{ issue.is_solved }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
